body {
	margin: 0;
	text-align: center;
}

body h1, h2 {
	font-family: 'Roboto Slab', serif;
}

body p {
	font-family: 'Open Sans', sans-serif;
}

.container {
	
}

.section {
	min-height: 100vh;
}

h1 {
	padding: 80px 0 30px 0;
}

.blue {
	background-color: #2D3E50;
	color: #fff;
}

/*
 *
 * Header and nav styling
 *
*/

.header {
	background-color: #2d3e50;
}

.navbar-brand {
	font-family: 'Roboto Slab', serif;
}

/*
 *
 * Headline section styling
 *
*/

.headline {
	margin-top: 50px;
	padding-top: 50px;
	color: #fff;
	background: url(../imgs/surgery2.jpg) repeat fixed 100%;
	background-size: cover;
	min-height: 90vh;
}

.headline h1 {
	font-size: 3em;
	padding-top: 100px;
}

/*
 *
 * About section styling
 *
*/

.about {
	background-color: #fff;
	color: #2D3E50;
}

.about img,
.about p,
.about h1 {

}

/*
 *
 * Current fellow section styling
 *
*/

.current {
	background-color: #fff;
	text-align: left;
}

.aside {
	background-color: #2D3E50;
	color: #fff;
	text-align: center;
}

/*
 *
 * Past fellows styling
 *
*/

.past {
	background-color: #fff;
}

.profile {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: solid 2px #2D3E50;
}

/*
 *
 * About section styling
 *
*/

.research {
	color: #fff;
	background: url(../imgs/tissue.JPG) repeat fixed 100%;
	background-size: cover;
	min-height: 300px;
}

.research h1 {
	padding-top: 80px;
}

/*
 *
 * Apply section styling
 *
*/

.apply {
	background: url(../imgs/apply.JPG) repeat fixed 100%;
	background-size: cover;
	color: #fff;
	min-height: 50vh;
}

.apply.btn {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: solid 3px red;
	border-left: 0;
}

/*
 *
 * Footer section styling
 *
*/

.footer {
	min-height: 100vh;
	color: #fff;
	background-color: #49433f;
	text-align: left;
}

.footer h4 {
	padding-top: 30px;
}

.footer .row {
	padding-bottom: 50px;
}

.footer .social {
	background-color: #ccc;
	min-height: 100px;
}

.footer .legal {
	background-color: #4c4c4c;
	padding-top: 50px;
}

.footer .legal ul li {
	display: inline;
	padding-right: 10px;
}

.footer ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.footer ul li a {
	color: #fff;
}

/*
 *
 * Button styling
 *
*/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-default.outline {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
    border-bottom: 2px solid #0099cc;
    border-left: 0;
    color: #0099cc;
